# Debian 11 (Bullseye) preseed for Cloud-init included and OpenStack compatible Generic Cloud images on x86_64

d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us

d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string debian
d-i netcfg/get_domain string localdomain

d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

d-i passwd/root-login boolean true
d-i passwd/root-password password packer
d-i passwd/root-password-again password packer
d-i passwd/user-fullname string Debian User
d-i passwd/username string debian
d-i passwd/user-password password packer
d-i passwd/user-password-again password packer

d-i clock-setup/utc boolean true
d-i time/zone string UTC
d-i clock-setup/ntp boolean true

d-i partman-auto/method string regular
d-i partman/choose_partition select finish
d-i partman-partitioning/choose_label select gpt
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman-auto/choose_recipe select root-efi
d-i partman-auto/expert_recipe string                         \
      root-efi ::                                              \
              1 1 1 free                                       \
                      $iflabel{ gpt }                          \
                      method{ biosgrub }                       \
              .                                                \
              538 538 1075 free                                \
                      $iflabel{ gpt }                          \
                      $reusemethod{ }                          \
                      method{ efi }                            \
                      format{ }                                \
              .                                                \
              1024 1024 -1 ext4                                \
                      method{ format } format{ }               \
                      use_filesystem{ } filesystem{ ext4 }     \
                      mountpoint{ / }                          \
              .
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-basicfilesystems/no_swap boolean false

tasksel tasksel/first multiselect
d-i pkgsel/include string openssh-server sudo python3 curl
d-i apt-setup/disable-cdrom-entries boolean true
popularity-contest popularity-contest/participate boolean false

d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string default

d-i preseed/late_command string \
    in-target sed -i 's/^#PermitRootLogin.*/PermitRootLogin yes/' /etc/ssh/sshd_config; \
    in-target sed -i 's/^PermitRootLogin.*/PermitRootLogin yes/' /etc/ssh/sshd_config; \
    in-target ln -sf /lib/systemd/system/ssh.service /etc/systemd/system/multi-user.target.wants/ssh.service; \
    cp /target/boot/efi/EFI/Debian/grubx64.efi /target/boot/efi/EFI/BOOT/BOOTX64.EFI

d-i finish-install/reboot_in_progress note
